.footer {
  height: 85px;
  padding: 0 50px;
  background-color: $main-gray;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    align-items: center;
  }
  
  &__icon {
    margin-right: 20px;
  }
}
