.window {
  padding: 20px 50px;
  background-color: $main-gray;

  &__wrapper {
    display: flex;
  }

  &__fraction-small {
    width: 330px;
    max-width: 30%;
    height: 470px;
    background-color: #fff;
  }
  
  &__fraction-big {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 770px;
    max-width: 70%;
    height: 470px;
    background-color: #000;
  }

  &__content {
    height: 30px;
    background-color: #3fa9f5;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    font-size: 18px;
  }
}
